*{
    background-color: black;
    color: White;
    border-radius: 25px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    font-family: sans-serif;
    margin: 10px;
}

header{
    text-align: center;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.projet{
    border: solid indigo 5px;
    box-shadow: 0 0 10px indigo, 0 0 20px indigo;
}

.img-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}


footer{
    text-align: center;
}

img{
    width: 300px;
    height: auto;
    transition: ease 0.5s;
    margin: 5px;
}

img:hover{
    transform: scale(1.05);
    transition: ease 0.5s;
}


.link-redirection, .link-redirection li{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
    
}

.language-selector {
    margin-top: 20px; /* Espacement au-dessus du sélecteur */
}

.language-selector label {
    margin-right: 10px; /* Espacement entre le label et le sélecteur */
}

.language-selector select {
    padding: 5px; /* Espacement interne du sélecteur */
    font-size: 16px; /* Taille de la police */
}

