*{
    background-color: black;
    color: White;
    border-radius: 25px;
    font-family: sans-serif;
}

body {
    position: relative; /* Ensure the body is positioned for the pseudo-element */
}
a{
    padding: 0;
    margin: 0;
}


p {
    position: relative; /* Position text for the cursor effect */
    display: inline-block; /* Ensure text is inline-block for better effect */
    transition: color 1s ease; /* Smooth color transition */
    margin: 10px;
}

p:hover, h2:hover, li:hover, h1:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
}

header{
    text-align: center;
}

h1{
    font-size: 50px;
    margin: 5px;
     position: relative; /* Position text for the cursor effect */
    display: inline-block; /* Ensure text is inline-block for better effect */
}
h2{
    font-size: 40px;
    margin: 5px;
     position: relative; /* Position text for the cursor effect */
    display: inline-block; /* Ensure text is inline-block for better effect */
}
li{
     position: relative; /* Position text for the cursor effect */
    display: inline-block; /* Ensure text is inline-block for better effect */
}

.projet{
    border: solid indigo 5px;
    box-shadow: 0 0 10px indigo, 0 0 20px indigo;
}

.img-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}


footer{
    text-align: center;
}

img{
    width: 20vw;
    min-width: 300px;
    height: auto;
    transition: ease 0.5s;
    margin: 5px;
}

img:hover{
    transform: scale(1.05);
    transition: ease 0.5s;
}


.link-redirection, .link-redirection li{
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
    
}



